# Node.js
node_modules/
dist/
.env
.DS_Store

# Vite
.vite/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Optional: VS Code settings (se vuoi ignorare roba locale)
.vscode/

# Optional: Mac system files
*.DS_Store