.main-page{
    padding: 5px;
    display: grid;
    grid-template-columns: 2fr 6fr 4fr;
    gap: 5px;
    height: 100vh;
}
.leaderboard{
    background-color: #ffffff10;
    border-radius: 15px;
}

.typingboard{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.collectionboard{
    
}