.mainPokemon{
    animation: entrata 1s, meanwhile 3s ease infinite 1s;
}

.sparkle-effect {
  position: absolute;
  width: 200px;
  height: 200px;
  pointer-events: none;
  background-image: url('https://img.clipart-library.com/2/clip-sparkle-animated-gif/clip-sparkle-animated-gif-15.gif');
  background-size: contain;
  animation: sparkle 2s;
  z-index: -10;
}

@keyframes sparkle {
  0% { opacity: 0.5; transform: scale(1); }
  50% { opacity: 1; transform: scale(1.1); }
  100% { opacity: 0.5; transform: scale(1); }
}

@keyframes entrata {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    50% {
      opacity: 1;
      transform: scale(1.05);
    }
    70% {
      transform: scale(.9);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes meanwhile {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0) rotate(0deg);
    }
    40% {
      transform: translateY(-15px) rotate(3deg);
    }
    60% {
      transform: translateY(-5px) rotate(-3deg);
    }
  }