.main-page{
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    gap: 5px;
}
.leaderboard{
    background-color: #ffffff10;
    border-radius: 15px;
}

.typingboard{

}

.collectionboard{
    
}