.mini-sprite-container {
    position: relative;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 2.5px;
  }

  .pokedex-container{
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff10;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 20px 0px;
  }
  
  .ball-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/581e2efc-8fab-47ca-9536-3770aab24ea4/d2joc5j-c2562d13-9dbe-4747-b70b-03e25d3abb80.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzU4MWUyZWZjLThmYWItNDdjYS05NTM2LTM3NzBhYWIyNGVhNFwvZDJqb2M1ai1jMjU2MmQxMy05ZGJlLTQ3NDctYjcwYi0wM2UyNWQzYWJiODAucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.7RCqdHsS0eXFQ4PjKi-Nusb3gfY259k3RIeHZv4rlKs');
    background-size: cover;
    background-position: center;
    opacity: 0.2;
    transform: rotate(30deg);
    z-index: 1;
    border-radius: 8px;
  }
  
  .pokemon-sprite {
    position: absolute;
    top: -15px;
    left: -5px;
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    z-index: 2;
  }
  
  .shiny-indicator {
    position: absolute;
    right: -6px;
    bottom: 25px;
    width: 16px;
    height: 16px;
    background-image: url('https://archives.bulbagarden.net/media/upload/c/cc/ShinyHOMEStar.png'); /* puoi cambiare icona se vuoi */
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 3;
  }